<head>
    <title>DofE Emails</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script src="static/main.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-item">
            <h1>DofE Email Generator</h1>
            <h2>Becuase the SU website is a bit bad</h2>
        </div>
        <div class="header-item">
            <img src="static/logo.png" alt="DofE Logo">
        </div>
    </div>
    <div class="emails">
        <div class="email" id="markdown">

        </div>
        <div class="email" id="html">

        </div>
        <button>Generate email</button>
    </div>
    <div class="footer">
        <p>Made by Joel Coulon</p>
        <p>View my source code at <a href="https://github.com/Mole1424/DofENewsletter">https://github.com/Mole1424/DofENewsletter</a></p>
    </div>
</body>